<div>

</div>

<div id="tudo">
  <div class="graficos">
    <div class="container">
      <canvasjs-chart [options]="chartOptions"></canvasjs-chart>
    </div>
    <div class="divisoria">

    </div>
    <div class="container">
        <canvas class="chart" id="historyChart"></canvas>
        <script>
          let historyChart = document.getElementById("historyChart");
          let lineChart = new Chart(historyChart, {
            type:'line',
            data:{
              labels: ['faz muito tempo','faz um tempo','foi ontem','hoje de manha'],
              datasets: [
                {
                  label: 'sensor1',
                  data: [1211, 3153, 3334, 4234]
                },
                {
                  label: 'sensor2',
                  data: [2212, 2552, 3654, 2203]
                },
                {
                  label: 'sensor3',
                  data: [1142, 2555, 3646, 4234]
                },
                {
                  label: 'sensor4',
                  data: [1234, 2048, 3947, 4028]
                },
              ]
            },
          });
          


          setInterval(function(){
            lineChart.data.labels.shift();
            lineChart.data.datasets.forEach((dataset) => {
                  dataset.data.shift();
            });
            lineChart.data.labels.push(parseInt(Math.random()*4));
            lineChart.data.datasets.forEach((dataset) => {
                  dataset.data.push(parseInt(Math.random()*2000 + 2000));
            });
          
          lineChart.update();

          }, 3000);

          console.log(lineChart.data.datasets);


        </script>
    </div>
  </div>
</div>